.notification-section {
  position: relative;
  text-align: end;
}

#notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#notification-icon svg {
  vertical-align: middle;
}

#notification-icon .unread-count {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #f7776a;
  color: white;
  border-radius: 50%;
  padding: 0px;
  font-size: 10px;
  font-weight: 700;
  width: 17px;
  height: 17px;
  display: none;
  /* Initially hidden */
  justify-content: center;
  align-items: end;
  border: 1px solid #fff;
  line-height: 15px;
}

#notification-dropdown .unread-count {
  background: #f7776a;
  color: white;
  border-radius: 10px;
  padding: 3px 0px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  line-height: normal;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 14px;
}

#notification-dropdown #unread-count {
  position: unset;
}

.dropdown-header .notification-title {
  font-weight: 700;
  color: #0088ce;
  font-size: 15px;
}

/* Dropdown styles */
#notification-dropdown {
  border-radius: 0.75rem;
  display: none;
  position: absolute;
  right: -63px;
  background-color: white;
  min-width: 360px;
  z-index: 1;
  margin-top: 27px;
  filter: drop-shadow(0px 8px 16px #0000001a);
  box-shadow: 0px 0px 10px 0px #0000001a;
}

#notification-dropdown::after {
  border: 8px solid transparent;
  border-bottom-color: white;
  right: 71px;
  top: -16px;
  content: "";
  height: 0;
  margin-left: -6px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

#notification-dropdown .dropdown-content {
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#notification-dropdown .dropdown-body {
  max-height: 380px;
  overflow-y: auto;
}

#notification-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: none;
  /* Initially hidden */
}

#notification-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  display: block;
  /* Show when the class is added */
}

#notification-dropdown .message-item {
  padding-block: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 11px 18px 10px;
  gap: 0.2rem;
}

.message-item .message-content {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.message-item .message-text {
  width: 260px;
}

.message-item .message-name {
  font-weight: 700;
}

.message-item .message-time {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

#notification-dropdown .message-item:hover {
  background-color: #f1f1f1;
}

#notification-dropdown button {
  width: 100%;
  background-color: #0088ce;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  height: 37px;
}

.dropdown-footer {
  padding: 14px;
}

/* Unread Indicator Styles */
.message-item .unread-indicator {
  height: 6px;
  width: 6px;
  background-color: #0088ce;
  border-radius: 50%;
}

.message-item .indicator-container {
  width: 6px;
}

.message-item.read .unread-indicator {
  display: none;
}

/* scroll css */
#notification-dropdown .dropdown-body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
  border-radius: 10px;
}

#notification-dropdown .dropdown-body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

#notification-dropdown .dropdown-body::-webkit-scrollbar-thumb {
  background-color: #dedbdb;
  border-radius: 10px;
}

/* Button styles */
.btn-decline {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #000;
}

.btn-decline:hover {
  background-color: #d1d1d1;
}

.btn-accept {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0088ce;
  color: white;
}

.btn-accept:hover {
  background-color: #0056b3;
}

.text-start {
  text-align: start;
}

/* Add this CSS for the loader inside the button */
.read-more {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.read-more .loader-container {
  position: absolute;
  display: none;
  /* Initially hidden */
  animation: loaderIn 0.3s ease-out forwards;
  /* Animation for loader container coming in */
}

.read-more.loading .loader-container {
  display: inline-block;
  /* Show loader container when loading */
}

.read-more .loader {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  animation: spin 1.2s linear infinite;
  /* Spin animation */
}

.read-more.loading span {
  display: none;
  /* Hide "Read More" text when loading */
  animation: textOut 0.3s ease-out forwards;
  /* Animation for text going out */
}

.read-more.show-text span {
  display: inline;
  /* Show "Read More" text when not loading */
  animation: textIn 0.3s ease-out forwards;
  /* Animation for text coming in */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adjust button styles when loading */
.read-more.loading {
  cursor: not-allowed !important;
  opacity: 0.8;
}

@media (max-width: 1440px) {
  .topbar-container {
    width: 150px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  #notification-dropdown {
    right: -85px;
  }
  #notification-dropdown::after {
    right: 92px;
  }
}

@media (max-width: 1279px) {
  .topbar-container {
    width: fit-content;
  }

  .app-logo {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  #notification-dropdown {
    right: -84px;
  }

  #notification-dropdown::after {
    right: 90px;
  }
}

@media (max-width: 320px) {
  .message-item .message-text {
    width: 205px;
  }

  #notification-dropdown {
    min-width: 315px;
  }
}
@media screen and (min-width: 80em) {
  .topbar-container {
    width: calc(300px - 155px);
  }
}

@media screen and (min-width: 90em) {
  .topbar-container {
    width: calc(325px - 155px);
  }
}

@media screen and (min-width: 120em) {
  .topbar-container {
    width: calc(350px - 155px);
  }
}
